<launch>
    <include file="$(find adambot)/launch/base_room.launch"/>


    <param name="robot_description" command="$(find xacro)/xacro '$(find adambot)/urdf/robot.urdf.xacro'" />
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args=" -param robot_description -urdf -model adambot -z 0.2" />



    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    </node>


    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="-configuration_directory $(find adambot)/config -configuration_basename cartographer_config.lua" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find adambot)/config/adam.rviz" />
</launch>
